@model Buyer.BuyerVM
@section Breadcrumbs{
    <span><a asp-action="Index"><h3>Profile</h3></a></span>
}
@{
    Layout = "_ContentLayout";
}
<form method="post" class="topup" asp-action="TopUp" asp-route-id="@Model.Id">
    <div class="popup">
        <div class="header-flex">
            <h2>Top Up</h2>
            <button id="close-form">X</button>
        </div>
        <div class="popup-flex">
            Tambah Dana sebesar:
            <div>
                <input type="number" asp-for="@Model.TopupValue" id="insert-1">
                <div class="field-validation-error"><span asp-validation-for="@Model.TopupValue"></span></div>
            </div>
            <button type="submit" class="button-25">Top Up</button>
        </div>
    </div>
</form>
<div class="content-1">
    <table>
        <tr>
            <td>Name</td>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>Buyer</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>Balance</td>
            <td>
                <span>@Model.Balance.ToString("c2")</span>
                <span><button class="button-25" id="topup">Tambah Dana</button></span>
            </td>
        </tr>
    </table>
</div>
<div class="content-2">
    <h2>My Transaction History</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Shipment</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Transactions.Count == 0)
            {
                <tr>
                    <td colspan="6">Transaction is empty</td>
                </tr>
            }
            else
            {
                @foreach(var transaction in Model.Transactions)
                {
                    <tr>
                        <td>@transaction.Date.ToString("dd/MM/yyyy")</td>
                        <td>@transaction.ProductName</td>
                        <td>@transaction.Quantity</td>
                        <td>@transaction.ShipmentName</td>
                        <td>@transaction.TotalPrice.ToString("c2")</td>
                    </tr>
                }
            }
        </tbody>
        @if(Model.Transactions.Count != 0)
        {
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="tfoot-flex">
                            <div>
                                Page @Model.Pagination.PageNumber of @Model.Pagination.TotalPages
                            </div>
                            <div>
                                @for(int pageNumber = 1; pageNumber <= Model.Pagination.TotalPages; pageNumber++)
                                {
                                    <a asp-action="Index" asp-route-pageNumber="@pageNumber"><button class="button-25">@pageNumber</button></a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        }
    </table>
    </div>
</div>
<script src="~/JS/buyerprofile.js"></script>