@model Product.IndexViewModel
<header>
		<div class="bread-crumbs">
			<a class="toggle-menu" href=""><i class="fas fa-bars"></i></a>
			<span>PRODUCT INDEX</span>
		</div>
		<div class="user-wrapper">
			<partial name="_LoginButton"></partial>
		</div>	
	</header>
<main>
    <div class="grid-container category-index">
        <form method="get" class="filter" asp-action="Index">
            <input type="text" name="productName" placeholder="Product Name..." asp-for="@Model.ProductName">
            <select name="CategoryId" asp-for="@Model.CategoryId">
                <option th:value="null">No Specific Category</option>
                @foreach(var category in Model.Categories)
                {
                    <option value="@category.Id">@category.CategoryName</option>
                }
			</select>
            <select name="supplierId" asp-for="@Model.SupplierId">
                <option th:value="null">No Specific Supplier</option>
                @foreach(var supplier in Model.Suppliers)
                {
                    <option value="@supplier.Id">@supplier.SupplierName</option>
                }
			</select>
            <button class="blue-button" type="submit">Search</button>
        </form>
        <a class="blue-button create-button" asp-action="Insert">Insert New Product</a>
        <table>
            <thead>
                <th>Action</th>
                <th>Product Name</th>
                <th>Category Name</th>
                <th>Supplier Name</th>
                <th>Price</th>
            </thead>
            <tbody>
                @{
                    foreach(var product in Model.Products)
                    {
                        <tr>
                            <td>
                                <a asp-action="Update" asp-route-id="@product.Id" class="blue-button update-button">Edit</a>
                                <a asp-action="SoftDelete" asp-route-id="@product.Id" class="blue-button delete-button">Delete</a>
                            </td>
                            <td>@product.ProductName</td>
                            <td>@product.CategoryName</td>
                            <td>@product.SupplierName</td>
                            <td>@product.Price.ToString("C0")</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        @if(Model != null)
                        {
                            <div class="pagination">
                                <div>Page @Model.Pagination.PageNumber of @Model.Pagination.TotalPages</div>
                                <div>
                                @for(int pageNumber = 1; pageNumber <= Model.Pagination.TotalPages; pageNumber++)
                                {
                                    <a asp-action="Index" asp-route-pageNumber="@pageNumber" asp-route-productName="@Model.ProductName" asp-route-categoryId="@Model.CategoryId" asp-route-supplierId="@Model.SupplierId">@pageNumber</a>
                                }
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>