@model Account.AdminRegisterVM
@section Breadcrumbs{
    <span><a asp-action="Index"><h3>Admin</h3></a></span>
}
@{
    Layout = "_Layout";
}

<form method="post" class="admin" asp-action="Insert">
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" asp-for="@Model.Username">
                <span class="field-validation-error" asp-validation-for="@Model.Username"></span>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" asp-for="@Model.Password">
                <span asp-validation-for="@Model.Password"></span>
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="password" asp-for="@Model.ConfirmPassword">
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </td>
        </tr>
    </table>
    <button class="button-25" id="saveadmin" type="submit">Save New Admin</button>
</form>